- if object.errors.any?
  #error_explanation
    .alert.alert-danger
      = surround 'The form contains ', '.' do
        = pluralize object.errors.count, 'errors'
    %ul
      - object.errors.full_messages.each do |msg|
        %li= msg
