- if @user.errors.any?
  #error_explanation
    .alert.alert-danger
      = surround 'The form contains ', '.' do
        = pluralize @user.errors.count, 'errors'
    %ul
      - @user.errors.full_messages.each do |msg|
        %li= msg
